// Specific CSS for your home-page

// first-row
.first-row {
  margin-top: 5px;
}

.first-row-links {
  a {
    font-weight: bolder;
    font-size: 13px;
    padding-right: 10px;
  }
}

.first-row-menu-applications {
  font-size: 16px;
  margin-left: 10px;;
}


//main title
.homepage-title {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: 80px;
  margin-top: 76px;
  margin-bottom: 38px;
  text-align: center;
}

// search-bar
form.search-bar {
  position: relative;
  background-color: white;
  max-width: 500px;
  border-radius: 30px;
  padding: 10px 50px;
  margin:auto;

  input {
    font-size: 13px;
    max-width: 100%;
    border: none;
  }

  input:focus::placeholder {
    color: transparent;
  }

  input:focus {
    outline: none;
  }
}

.fa-magnifying-glass {
  color: grey;
  position: absolute;
  top: 35%;
  left: 3%;
}

.fa-microphone {
  color: blue;
  position: absolute;
  top: 35%;
  right: 3%;
}


// all-icons
.all-icons {
  margin: auto;
  margin-top: 30px;
  max-width: 500px;
  text-align: center;
  position: relative;
}

.title-icon {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.icon {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}

.link-icon:hover {
  border-radius: 3px;
  background-color: rgba(117, 190, 218, 0.5); /* 50% transparent */
}



// form popup
form.pop-up-raccourci {
  width: 450px;
  color: rgb(48, 48, 48);
  background-color: white;
  border-radius: 7px;
  padding: 10px;
  z-index: 1;
  position: absolute;
  text-align: left;
  visibility: hidden;

  h6{
    font-size: smaller;
  }

  label {
    width: 100%;
    font-size: 10px;
  }
  input {
    width: 100%;
    border-radius: 4px;
    background-color: #eeeded;
    border: none;
  }

  button{
    border-radius: 4px;
    margin-top: 15px;
    padding: 8px 16px;
    font-size: 10px;
    font-weight: bold;
    border-width: 1px;
    border-color:  #DCDCDC;
    box-shadow: 0;

  }

  button.annuler {
    color: blue;
    background-color: white;
  }

  button.ok {
    color: white;
    background-color: blue;
  }

  button.annuler:hover {
    background-color: rgba(200, 221, 228, 0.9);
  }

}

// .unshow {
//   visibility: hidden;
// }

.pop-up-raccourci.show {
  visibility: visible;
}
