// Specific CSS for your home-page

// first-row
.first-row {
  margin-top: 5px;
}

.first-row-links {
  a {
    font-weight: bolder;
    font-size: 13px;
    padding-right: 10px;
  }
}

.first-row-menu-applications {
  font-size: 16px;
  margin-left: 10px;;
}


//main title
.homepage-title {
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: bolder;
  font-size: 80px;
  margin-top: 76px;
  margin-bottom: 38px;
  text-align: center;
}

// search-bar
form.search-bar {
  position: relative;
  background-color: white;
  max-width: 500px;
  border-radius: 30px;
  padding: 10px 50px;
  margin:auto;

  input {
    font-size: 13px;
    max-width: 100%;
    border: none;
  }

  input:focus::placeholder {
    color: transparent;
  }

  input:focus {
    outline: none;
  }
}

.fa-magnifying-glass {
  color: grey;
  position: absolute;
  top: 35%;
  left: 3%;
}

.fa-microphone {
  color: blue;
  position: absolute;
  top: 35%;
  right: 3%;
}


// all-icons
.all-icons {
  margin: auto;
  margin-top: 30px;
  max-width: 500px;
  text-align: center;
}

.title-icon {
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bolder;
}

.icon {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}

.link-icon {
  // padding: 10px 0;
}

.link-icon:hover {
  border-radius: 3px;
  background-color: rgba(117, 190, 218, 0.5); /* 50% transparent */
}
